Django==5.0.4
langdetect==1.0.9
openai==1.65.4
pandas==2.2.3
protobuf==6.30.0
pydub==0.25.1
PyPDF2==3.0.1
python-decouple==3.8
reportlab==4.2.0
google-cloud-texttospeech
google-cloud-speech
google-cloud-storage
openpyxl
