{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
    </style>

</head>
<body>
    <h2>B&Y PDF Management : {{category.name}} - {{section}} - {{group}}</h2>
<!-- 카테고리 생성 폼 -->
    <form method="POST" action="">
        {% csrf_token %}
        <lable> 카테 고리 : </lable>
        <input type="text" name="name" maxlength="50">
        <input type="submit" value="생성" formaction="{% url 'mk_category' %}">
        <span> | </span>

<!-- 카테고리 목록 -->
        {% if category %}
        {% for category in categories %}
        <input type="submit" value="{{category.name}}" formaction="{% url 'index_with_category' category.id %}">
        {% endfor %}
        {% endif %}
    </form>


<!-- 섹션 생성-->
    <form method="POST" action="">
        {% csrf_token %}
        {% if category %}
            <label for="id_name"> 섹션 이름 : </label>
            <input type="text" name="name" maxlength="50">
            <input type="submit" value="생성" formaction="{% url 'mk_section' category.id %}">
        {% else %} 카테고리를 먼저 생성하세요.
        {% endif %}
        
        <span> | </span>

<!-- 섹션 목록-->
        {% if section %} {% for section in sections %}
            <input type="submit" value="{{section.name}}" formaction="{% url 'index_with_category_section' category.id section.id %}">
        {% endfor %}
        {% else %} 아직 섹션이 없습니다.
        {% endif %}
        

    </form>
    
<!-- 그룹 생성 폼 -->
    <form method="POST" action="">
        {% csrf_token %}
            <label for="id_name">그룹 이름 : </label>
            <input type="text" name="name" maxlength="50">
        {% if section %}
            <input type="submit" value="생성" formaction="{% url 'mk_group' category.id section.id %}">
        {% endif %}
            <span> | </span>

<!-- 그룹 목록 -->
        {% if group %} {% for group in groups %}
            <input type="submit" value="{{group.name}}" formaction="{% url 'index_with_full_ids' category.id section.id group.id%}">
        {% endfor %}
        {% else %} 아직 그룹이 없습니다.
        {% endif %}
    </form>


    <form method="POST">
        {% csrf_token %}
        폴더 이름 : {{ form_folder.name }}
        {% if group %}
        <input type="submit" value="생성" formaction="{% url 'mk_folder' category.id section.id group.id %}">
        {% endif %}
        <span> | </span>
    </form>


<!-- 테이블 시작 -->
    {% if group.folders %}

    <form method="POST" id="tableForm" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="cover_text">커버 텍스트</label>
    <input type="text" class="input_checkbox" name="cover_text" required id="cover_text">
    <button type="submit" data-url="{% url 'merge_pdfs' %}" onclick="submitForm('tableForm', 'input_checkbox', this.getAttribute('data-url')); return false;" >PDF생성</button>
    <span> ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ </span>

<!-- pdf Copy -->
    <button type="button" onclick="prepareCopy()">Copy PDFs</button>
    <span id="copyStatus" style="margin-left: 10px;"></span>
    
    <div class="table-container">
        <table border="1">
            <tr>
<!-- 헤더열(폴더이름)) -->
                {% for folder in group.folders.all %}
                <th>
<!-- Paste PDFs 버튼-->
                    <button type="button" onclick="pastePDFs('{{folder.id}}', event); return false;">Paste</button>
                    {{folder.name}} 
<!-- 폴더 삭제 -->
                {% if section and group %}
                <button type="button" onclick="confirmDelete('{{folder.id}}', '{{folder.name}}', event); return false;">X</button>
                {% endif %}

<!-- 붙여넣기 성공 메시지 -->
                    <span id="pasteStatus-{{folder.id}}" class="pasteStatus"></span>
                </th>
                {% endfor %}
            </tr>        
            <tr>
<!-- 폴더 메모 -->
                {% for folder in group.folders.all %}
                <td>
                    <div contenteditable="true" data-folder-id="{{ folder.id }}" class="editable-memo">
                        {{ folder.memo|safe }}
                    </div>
                </td>
                {% endfor %}
            </tr>
<!-- PDF 업로드열-->
            <tr>
                {% for folder in group.folders.all %}
                <td>
                    <input type="file" class="upload_pdfs" name="pdfs_upload" required multiple>
                    <input type="hidden" class="upload_pdfs" name="folder_id" value="{{folder.id}}">
                    <button type="submit" data-url="{% url 'upload_pdfs' category.id section.id group.id %}" onclick="submitForm('tableForm', 'upload_pdfs', this.getAttribute('data-url'), '{{ folder.id }}'); return false;">Upload</button>
                </td>
                {% endfor %}
            </tr>
            <tr>
<!-- pdfs&체크박스 -->
                {% csrf_token %}
                {% for folder, pdfs in folders_with_pdfs %}
                <td>
                    <table class="no-border">
                        {% for pdf in pdfs %}
                        <tr>
                            <td 
                                data-folder-id="{{ folder.id }}"
                                class="dropzone"
                                ondrop="handleDrop(event, '{{ folder.id }}')"
                                ondragover="handleDragOver(event)">
                                    <input type="hidden" class="input_checkbox" name="folder_id" value="{{folder.id}}">
                                    <input type="checkbox" class="input_checkbox" name="pdf_ids" id="checkbox_{{pdf.id}}"  value="{{pdf.id}}">
                                    <label for="checkbox_{{pdf.id}}" onclick="handleClick('{{ pdf.id }}');" id="label-{{ pdf.id }}">{{pdf.name}}</label>
                                    <input type="text" id="input-{{ pdf.id }}" value="{{ pdf.name }}" style="display: none;" onblur="savePDFName('{{ pdf.id }}');" onkeypress="handleKeyPress(event, '{{ pdf.id }}');">

                                </td>
<!-- 업다운 버튼-->
                            <td>
                                <button type="button" onclick="movePDF('{{ pdf.id }}', 'up');">&#8593;</button> <!-- 위로 이동 -->
                                <button type="button" onclick="movePDF('{{ pdf.id }}', 'down');">&#8595;</button> <!-- 아래로 이동 -->
                            </td>
                        </tr>
<!-- 이름 수정 버튼-->
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}
        </tr>
        </table>
    </div>
        <button type="submit" data-url="{% url 'del_pdfs' %}" onclick="submitForm('tableForm', 'input_checkbox', this.getAttribute('data-url'), ); return false;" >PDF삭제</button>
    </form>

{% endif %}
        

<script>

    function submitForm(form_id, inputClass, actionUrl, folder_id) {
        var form = document.getElementById(form_id); // 현재 선택된 form 속성에 접근
        form.action = actionUrl; // action을 제출된 URL로 설정

        // 폼의 모든 입력 필드를 일시적으로 비활성화
        form.querySelectorAll('input').forEach(input => {
            input.disabled = true;
        });

        // folderId가 제공되면, 폼에 folderId를 전달하기 위한 숨겨진 input을 추가
        if (folder_id) {
            var inputFolder_id = document.createElement('input');
            inputFolder_id.type = 'hidden';
            inputFolder_id.name = 'folder_id';
            inputFolder_id.value = folder_id;
            form.appendChild(inputFolder_id);
        }

        // 선택된 클래스를 가진 입력 필드만 활성화
        if (inputClass) {
            form.querySelectorAll('.' + inputClass + ', input[name="csrfmiddlewaretoken"]').forEach(input => {
                                                     // csrf토큰도 활성화
                input.disabled = false;
            });
        }

        form.submit(); // 폼 제출
    }

    function movePDF(pdfId, direction) {
        fetch(`{% url 'move_pdf' %}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ 'pdf_id': pdfId, 'direction': direction })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();  // 페이지를 새로고침하여 순서 변경을 반영
            } else {
                alert('Error: ' + data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }


    function prepareCopy() {
        copiedPDFs = [];
        document.querySelectorAll('input[name="pdf_ids"]:checked').forEach(input => {
            copiedPDFs.push(input.value);
        });
        const statusElement = document.getElementById('copyStatus');
        if (copiedPDFs.length > 0) {
            sessionStorage.setItem('copiedPDFs', JSON.stringify(copiedPDFs)); // copiedPDFs (=pdf의 id들) 에 대해서 Json 형식으로 변환된 것을 값으로 할당하여, 키:값 으로 sessionStorage에 저장
            // setItem(key, value): 주어진 키에 대해 값을 저장합니다.
            // getItem(key): 주어진 키에 저장된 값을 반환합니다.
            // removeItem(key): 주어진 키에 저장된 값을 삭제합니다.
            // clear(): 모든 키와 값을 삭제합니다.
            // key(index): 인덱스에 해당하는 키를 반환합니다.

            statusElement.textContent = '복사 성공';  // 메시지 업데이트
            statusElement.style.color = 'green';  // 텍스트 색상을 초록색으로 변경
        } else {
            alert('No PDFs selected!');
        }
    }

    function pastePDFs(folderId) {
        event.preventDefault(); // 기본 폼 제출 방지
            // 이벤트 핸들러가 호출될 때 브라우저가 event 객체를 자동으로 전달합니다.
            // event 객체는 이벤트에 대한 정보(예: 이벤트가 발생한 요소, 이벤트 타입, 마우스 위치 등)를 포함합니다.

        const buttonElement = event.currentTarget; // 현재 버튼 요소 참조
        const statusElement = buttonElement.nextElementSibling; // 상태 표시 요소 찾기
        copiedPDFs = JSON.parse(sessionStorage.getItem('copiedPDFs')) || []; // copy된 객체들 불러오기


        fetch('{% url "paste_pdfs" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ pdf_ids: copiedPDFs, target_folder_id: folderId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    statusElement.textContent = '붙여넣기 완료';
                    statusElement.style.color = 'green';  // 성공 메시지는 초록색으로 표시
                    setTimeout(() => window.location.reload(), 50); // 1초 후 페이지 새로고침
                } else {
                    alert('Error pasting PDFs: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Network error while pasting PDFs');
            });
       }


// 메모 수정

    document.querySelectorAll('.editable-memo').forEach(element => {
        element.addEventListener('blur', function() {
            const folderId = this.getAttribute('data-folder-id');
            const newMemo = this.innerHTML;
            
            fetch(`/update-folder-memo/${folderId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ memo: newMemo })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Memo updated successfully!');
                } else {
                    console.error('Error updating memo');
                }
            })
            .catch(error => {
                console.error('Network error:', error);
            });
        });
    });

 // 폴더 삭제 확인창

    function confirmDelete(folderId, folderName, event) {
        event.preventDefault();  // 기본 폼 제출 방지
        if (confirm(folderName + " 폴더를 삭제하시겠습니까?")) {
            var form = document.getElementById('tableForm');  // 폼 ID가 'tableForm'인 폼을 선택
            form.action = `{% url 'del_folder' category.id section.id group.id %}`;  // 동적 URL 처리
            var inputFolder_id = document.createElement('input');  // 숨겨진 input 생성
            inputFolder_id.type = 'hidden';
            inputFolder_id.name = 'folder_id';
            inputFolder_id.value = folderId;
            form.appendChild(inputFolder_id);  // 폼에 숨겨진 input 추가

            form.submit();  // 폼 제출
        }
    }

    // 클릭 카운트를 저장할 객체
    var clickCounts = {};

    function handleClick(pdfId) {
        if (!clickCounts[pdfId]) {
            clickCounts[pdfId] = 0;
        }
        clickCounts[pdfId] += 1;

        if (clickCounts[pdfId] === 3) {
            enableEditing(pdfId);
            clickCounts[pdfId] = 0;  // 클릭 카운트 초기화
        }

        // 일정 시간 후 클릭 카운트를 초기화
        setTimeout(function() {
            clickCounts[pdfId] = 0;
        }, 1200);  // 1초 후 초기화
    }



    // pdf 이름바꾸기

    function enableEditing(pdfId) {
        var label = document.getElementById('label-' + pdfId);
        var input = document.getElementById('input-' + pdfId);
        label.style.display = 'none';
        input.style.display = 'inline';
        setTimeout(function() {
            input.focus();
        }, 50); // 약간의 딜레이 후 포커스 설정
    }

    function handleKeyPress(event, pdfId) {
        if (event.key === 'Enter') {
            event.preventDefault(); // 기본 폼 제출 막기
            savePDFName(pdfId);
        }
    }

    
    function savePDFName(pdfId) {
        var input = document.getElementById('input-' + pdfId);
        var newName = input.value;

        fetch(`/update-pdf-name/${pdfId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ name: newName })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                var label = document.getElementById('label-' + pdfId);
                label.textContent = newName;
                label.style.display = 'inline';
                input.style.display = 'none';
            } else {
                alert('Error: ' + data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleDragOver(event) {
            event.preventDefault();
        }

    function handleDrop(event, folderId) {
        event.preventDefault();
        const files = event.dataTransfer.files;
        const formData = new FormData();
        formData.append('folder_id', folderId);

        for (let i = 0; i < files.length; i++) {
            formData.append('pdfs_upload', files[i]);
        }

        fetch(`{% url 'upload_pdfs' category.id section.id group.id %}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload(); // 변경 사항을 반영하기 위해 페이지 새로고침
            } else {
                alert('PDF 업로드 중 오류 발생: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('PDF 업로드 중 네트워크 오류 발생');
        });
    }
        


    
</script>

</body>
</html>