{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>

<body>
    <h2>B&Y PDF Management : {{category.name}} - {{section}} - {{group}}</h2>
<!-- 카테고리 생성 폼 -->
    <form method="POST" action="">
        {% csrf_token %}
        <lable> 카테 고리 : </lable>
        <input type="text" name="name" maxlength="50">
        <input type="submit" value="생성" formaction="{% url 'mk_category' %}">
        <span> | </span>

<!-- 카테고리 목록 -->
        {% if category %}
        {% for category in categories %}
        <input type="submit" value="{{category.name}}" formaction="{% url 'index_with_category' category.id %}">
        {% endfor %}
        {% endif %}
    </form>


<!-- 섹션 생성-->
    <form method="POST" action="">
        {% csrf_token %}
        {% if category %}
            <label for="id_name"> 섹션 이름 : </label>
            <input type="text" name="name" maxlength="50">
            <input type="submit" value="생성" formaction="{% url 'mk_section' category.id %}">
        {% else %} 카테고리를 먼저 생성하세요.
        {% endif %}
        
        <span> | </span>

<!-- 섹션 목록-->
        {% if section %} {% for section in sections %}
            <input type="submit" value="{{section.name}}" formaction="{% url 'index_with_category_section' category.id section.id %}">
        {% endfor %}
        {% else %} 아직 섹션이 없습니다.
        {% endif %}
        

    </form>
    
<!-- 그룹 생성 폼 -->
    <form method="POST" action="">
        {% csrf_token %}
            <label for="id_name">그룹 이름 : </label>
            <input type="text" name="name" maxlength="50">
        {% if section %}
            <input type="submit" value="생성" formaction="{% url 'mk_group' category.id section.id %}">
        {% endif %}
            <span> | </span>

<!-- 그룹 목록 -->
        {% if group %} {% for group in groups %}
            <input type="submit" value="{{group.name}}" formaction="{% url 'index_with_full_ids' category.id section.id group.id%}">
        {% endfor %}
        {% else %} 아직 그룹이 없습니다.
        {% endif %}
    </form>


    <form method="POST">
        {% csrf_token %}
        폴더 이름 : {{ form_folder.name }}
        {% if group %}
        <input type="submit" value="생성" formaction="{% url 'mk_folder' category.id section.id group.id %}">
        {% endif %}
        <span> | </span>
    </form>


<!-- 테이블 시작 -->
    {% if group.folders %}

    <form method="POST" id="tableForm" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="cover_text">커버 텍스트</label>
    <input type="text" class="input_checkbox" name="cover_text" required id="cover_text">
    <button type="submit" data-url="{% url 'merge_pdfs' %}" onclick="submitForm('tableForm', 'input_checkbox', this.getAttribute('data-url')); return false;" >PDF생성</button>
    <span> ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ </span>

<!-- pdf Copy -->
    <button type="button" onclick="prepareCopy()">Copy PDFs</button>
    <span id="copyStatus" style="margin-left: 10px;"></span>
    
    <div class="table-container">
        <table border="1">
            <tr>
<!-- 헤더열(폴더이름)) -->
                {% for folder in group.folders.all %}
                <th>
<!-- Paste PDFs 버튼-->
                    <button type="button" data-folder-id="{{folder.id}}" onclick="pastePDFs(this.getAttribute('data-folder-id'), event); return false;">Paste</button>
                    {{folder.name}} 
<!-- 폴더 삭제 -->
                {% if section and group %}
                <button type="button" onclick="confirmDelete('{{folder.id}}', event); return false;">X</button>
                {% endif %}
<!-- 붙여넣기 성공 메시지 -->
                    <span id="pasteStatus-{{folder.id}}" class="pasteStatus"></span>
                </th>
                {% endfor %}
            </tr>        
            <tr>
<!-- 폴더 메모 -->
                {% for folder in group.folders.all %}
                <td>
                    <div contenteditable="true" data-folder-id="{{ folder.id }}" class="editable-memo">
                        {{ folder.memo|safe }}
                    </div>
                </td>
                {% endfor %}
            </tr>
<!-- PDF 업로드열-->
            <tr>
                {% for folder in group.folders.all %}
                <td>
                    <input type="file" class="directUpload_pdfs" name="pdfs_upload" required multiple>
                    <input type="hidden" class="directUpload_pdfs" name="folder_id" value="{{folder.id}}">
                    <button type="submit" data-url="{% url 'directUpload_pdfs' category.id section.id group.id %}" onclick="submitForm('tableForm', 'directUpload_pdfs', this.getAttribute('data-url'), '{{ folder.id }}'); return false;">Upload</button>
                </td>
                {% endfor %}
            </tr>
            <tr>
<!-- pdfs&체크박스 -->
                {% for folder, pdfs in folders_with_pdfs %}
                <td>
                    <table 
                        data-folder-id="{{ folder.id }}"
                        class="dropzone"
                        ondrop="handleDrop(event, '{{ folder.id }}')"
                        ondragover="handleDragOver(event)"
                        ondragenter="handleDragEnter(event)"
                        ondragleave="handleDragLeave(event)">
                        {% if pdfs %}
                            <tr class="select_all">
                                <td colspan="2" class="select_all">
                                        <input type="checkbox" id="select_all_{{folder.id}}" onclick="toggleSelectAll('{{folder.id}}')">
                                        <label for="select_all_{{folder.id}}">전체 선택</label>
                                </td>
                            </tr>
                            {% for pdf in pdfs %} 
                            <tr class="pdfscells">
                                {% csrf_token %}
                                <td class="pdfscell" onclick="toggleCheckbox('{{pdf.id}}')">
                                        <input type="hidden" class="input_checkbox" name="folder_id" value="{{folder.id}}">
                                        <input type="checkbox" class="input_checkbox pdf_checkbox_{{folder.id}}" name="pdf_ids" id="checkbox_{{pdf.id}}" value="{{pdf.id}}">      
                                        <label for="checkbox_{{pdf.id}}" onclick="handleClick('{{ pdf.id }}');" id="label-{{ pdf.id }}">{{pdf.name}}</label>
                                        <input type="text" id="input-{{ pdf.id }}" value="{{ pdf.name }}" style="display: none;" onblur="savePDFName('{{ pdf.id }}');" onkeypress="handleKeyPress(event, '{{ pdf.id }}');">
                                </td>
<!-- 업다운 버튼-->
                                <td class = arrowscell>
                                    <button type="button" onclick="movePDF('{{ pdf.id }}', 'up');">&#8593;</button> <!-- 위로 이동 -->
                                    <button type="button" onclick="movePDF('{{ pdf.id }}', 'down');">&#8595;</button> <!-- 아래로 이동 -->
                                </td>
                            </tr>
<!-- 이름 수정 버튼-->
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td class="empty-dropzone"></td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            {% endfor %}
        </tr>
        </table>
    </div>
        <button type="submit" data-url="{% url 'del_pdfs' %}" onclick="submitForm('tableForm', 'input_checkbox', this.getAttribute('data-url'), ); return false;" >PDF삭제</button>
    </form>

{% endif %}
    
</body>
</html>