<!DOCTYPE html>
<html>
<head>
    <title>Excel to Speech</title>
</head>
<body>
    <h1>Excel to Speech</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'for_study' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload and Convert (Study)</button>
    </form>
    
    <form method="post" enctype="multipart/form-data" action="{% url 'for_exam' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload and Convert (Exam)</button>
    </form>

    <div id="progress-container">
        <h2>Progress</h2>
        <progress id="progress-bar" value="0" max="100"></progress>
        <span id="progress-text">0%</span>
    </div>

</body>
</html>